<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sock(et), Paper, Scissors</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=News+Cycle&display=swap" rel="stylesheet"> 
        <script src="/socket.io/socket.io.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <header>
            <h1>Sock(et), Paper, Scisscors</h1>
        </header>
        <%- body %>
        <footer>
            <h4>Made with &hearts; and Socket.io</h4>
            <h4>Shannon Zylstra 2020</h4>
        </footer>
    </body>
</html>