/* APP */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'News Cycle', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
/* PARTIALS */
header, footer {
    height: 10vh;
    width: 100vw;
    text-align: center;
}
input {
    font-size: 2em;
    text-align: center;
}
button {
    font-size: 1.5em;
}
hr {
    width: 40vw;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* SCREENS */
.screen {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}